* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
}

div {
	width: 100px;
	height: 100px;
	background-color: wheat;
	margin: 20px;
}

p {
	margin: 20px;
	background-color: skyblue;
	padding: 10px;
	display: inline;
}
